<mat-toolbar color="primary">
  <a mat-button class="header-title" routerLink="/main"><span>Project</span></a>
  <ul class="menu">
    <li class="menu-item"><a mat-button routerLink="users" [disabled]="!(isLogin | async)">Users</a></li>
    <li class="menu-item"><a mat-button routerLink="home">About</a></li>
    <li class="menu-item"><a mat-button>Contacts</a></li>
  </ul>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="mat-18">more_vert</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="login()" *ngIf="!(isLogin | async)"><mat-icon class="mat-18">login</mat-icon>login</button>
    <button mat-menu-item (click)="logout()" *ngIf="isLogin | async"><mat-icon class="mat-18">logout</mat-icon>logout</button>
  </mat-menu>
</mat-toolbar>
